@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.admin-content{
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.order-header{
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-header-text{
    font-size: 3rem;
    color: #303030;
    font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
    padding: 2rem;
    font-weight: 600;
}

.order-div-element{
    margin: 1rem;
}

.order-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-data li{
    list-style-type: decimal;
    font-size: 2rem;
    padding: 0.3rem;
}

.order-data li a{
    color: #303030;
    font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
    font-weight: 600;
    transition: font-size 0.3s, color 0.3s;
}

.order-data li a:hover{
    color: rgb(32, 188, 199);
    font-size: 2.1rem;
}


