@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.hero-section {
    border: 1px solid black;
    min-width: 100rem;
    height: 40vw;
    background-image: url("../images/hero-image-cropped.jpg");
    background-size: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    cursor: default;
    font-size: 4.8rem;
    font-weight: 600;
    color: #F7F9FB;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.color-overlay {
    background-color: #D18E35;
    opacity: 15%;
    height: 40vW;
    width: 100%;
    position: absolute;
}

.hero-section .cta-button {
    background-color: #D18E35;
    transition: 0.2s;
    font-size: 2.2rem;
    height: 5rem;
    width: auto;
    padding: 1rem;

    border-radius: 0.8rem;
    margin-top:5rem;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.hero-section .cta-button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    height: 6rem;
    margin-top: 4rem;
    font-size: 2.6rem;
    color: #F7F9FB;
}
.hero-section-content {
    z-index: 5;
    height: 30rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}