@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@media (min-width: 40rem) {
    body {
        display: flex;
        justify-content: center;
        background-color: #F7F9FB;
        height: 100%;

    }

    .sign-up {
        margin-top: 20rem;
        height: auto;
        padding: 1rem;
    }

    #sign-up-heading {
        text-align: center;
        font-size: 3.6rem;
        font-family: 'Montserrat', sans-serif;
    }

    #enticement-paragraph {
        text-align: center;
        font-size: 2.4rem;
        padding: 0.5rem 0.5rem 2rem;
    }

    .signup-box {
        width: 100%;
        height: 100%;
        border: #303030 solid 0.2rem;
        border-radius: 1rem;
        background-color: gainsboro;
        box-shadow: 0 0 0.5rem 0.5rem rgba(0,0,0,0.3);
    }

    #input-box1 {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #input-box2 {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }
    #button-box {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 5rem;
    }

    #email-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-right: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #name-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-left: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #password-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-right: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #confirm-password-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-left: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #login-button {
        margin: 0.5rem 17.5rem 0.5rem 0.8rem;
        text-align: center;
        width: 10rem;
        font-weight: bold;
        height: auto;
        padding: 0.5rem;
        background-color: #D18E35;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        transition: 0.2s;
    }

    #login-button:hover {
        color:#F7F9FB;
        box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.4);
        cursor: pointer;
    }

    #sign-up-button {
        margin: 0.5rem 0.8rem 0.5rem 17.5rem;
        text-align: center;
        width: 10rem;
        font-weight: bold;
        height: auto;
        padding: 0.5rem;
        background-color: #D18E35;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        transition: 0.2s;
    }

    #sign-up-button:hover {
        color:#F7F9FB;
        box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.4);
        cursor: pointer;
    }

}
@media (max-width: 40rem) {

    body {
        display: flex;
        justify-content: center;
        background-color: #F7F9FB;
        height: 100%;
    }

    .sign-up {
        margin-top: 20rem;
        height: auto;
        padding: 1rem;
    }

    #sign-up-heading {
        text-align: center;
        font-size: 2.8rem;
        font-family: 'Montserrat', sans-serif;
    }

    #enticement-paragraph {
        text-align: center;
        font-size: 2rem;
        padding: 0.5rem 0.5rem 2rem;
    }

    .signup-box {
        width: 100%;
        height: 100%;
        border: #303030 solid 0.2rem;
        border-radius: 1rem;
        background-color: gainsboro;
        box-shadow: 0 0 0.5rem 0.5rem rgba(0,0,0,0.3);
    }

    #input-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #input-box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #button-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 5rem;
    }

    #email-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #name-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }
    #password-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #confirm-password-input {
        height: 3rem;
        padding-left: 0.5rem;
        border: black solid 0.1rem;
        margin-top: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    #login-button {
        margin: 0.5rem 2rem 0.5rem 0.8rem;
        text-align: center;
        width: 8rem;
        font-weight: bold;
        height: auto;
        padding: 0.5rem;
        background-color: #D18E35;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        transition: 0.2s;
    }

    #login-button:hover {
        color: #F7F9FB;
        box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.4);
        cursor: pointer;
    }

    #sign-up-button {
        margin-right: 0.5rem;
        text-align: center;
        width: 8rem;
        font-weight: bold;
        height: auto;
        padding: 0.5rem;
        background-color: #D18E35;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        transition: 0.2s;
    }

    #sign-up-button:hover {
        color: white;
        box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.4);
        cursor: pointer;
    }
}
