@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media(min-width:800px){
    .nav-bar-container{
        background-color:#f9f9f9;
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: center;
    }

    .nav-bar-content {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-left: 0.1rem #303030 solid;
        flex: 1;
    }

    .nav-bar-hamburger-menu {
        display: none;
    }

    .main-nav-links a{
        margin: 2rem;
    }

    .nav-personal-box{
        display: flex;
        align-items: center;
        justify-content: end;
        height: 4rem;
        width: auto;
    }

    .nav-account-box{
        display: flex;
        cursor: pointer;
        justify-content: right;
        height: auto;
        width: auto;
        padding: 0.7rem;
    }


    .nav-shopping-cart-box{
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
        padding: 0.7rem;
    }
    .nav-shopping-cart-box:hover {
        cursor: pointer;
    }

    .icons {
        margin-right: 0.5rem;
    }

    .icons:hover {
        cursor: pointer;
    }

    .nav-bar-logo-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        flex: 0;
    }

    .nav-bar-logo-box img{
        height: 4rem;
        filter: contrast(120%);
    }

    .nav-bar-container a {
        text-decoration: none;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        color: #303030;
        font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
        margin: 2rem;
        font-weight: 600;
    }
}

@media(max-width:800px) {
    .nav-bar-container {
        display: flex;
        height: 4rem;
        width: 100%;
        background-color: #f9f9f9;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-bar-content {
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
        align-items: center;
        padding-left: 0.3rem;
        border-left: 0.1rem #303030 solid;

    }

    .nav-bar-container a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #303030;
        font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
        margin: 0.2rem;
        font-weight: 600;
    }

    .nav-bar-hamburger-menu {
        display: none;
    }

    .nav-personal-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-personal-box a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #303030;
        font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
        margin: 0.2rem;
        font-weight: 600;
    }
    .nav-account-box {
        cursor: pointer;
        height: auto;
        width: auto;
        padding: 0.4rem;
    }
    .nav-shopping-cart-box {
        cursor: pointer;
        height: auto;
        width: auto;
        padding: 0.4rem;
    }
    .icons {
        margin-right: 0.5rem;
    }

    .nav-bar-logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }

    .nav-bar-logo-box img {
        height: 3rem;
    }
}




