@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media(min-width:650px){
    .nav-bar-container{
        display: flex;
        height: 6rem;
        background-color: #eeeeee;
        align-items: center;
        justify-content: center;
    }

    .nav-bar-content{
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-left: 0.1rem #303030 solid;
        flex: 1;
    }

    .nav-bar-container a {
        text-decoration: none;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        color: #303030;
        font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, serif;
        margin: 2rem;
        font-weight: 600;
    }

    .nav-personal-box{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4rem;
        width: 10rem;
        flex: 0;
    }

    .nav-account-box{
        display: flex;
        justify-content: right;
        padding: 0.7rem;
    }


    .nav-shopping-cart-box{
        display: flex;
        justify-content: flex-end;
        padding: 0.7rem;

    }

    .nav-bar-logo-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        flex: 0;
    }

    .nav-bar-logo-box img{
        height: 4rem;
        filter: contrast(120%);
    }
}

@media(max-width:650px) {
    .nav-bar-container{
        display: flex;
        height: 14rem;
        background-color: #5085A5;
        align-items: center;
    }

    .nav-bar-content{
        height: 12rem;
        display: flex;
        flex: 3;
        justify-content: flex-start;
        flex-direction: column;
    }

    .nav-bar-container a{
        text-decoration: none;
        font-size: 1.5rem;
        color: #F7F9FB;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem;
    }

    .nav-bar-logo-img {
        display: flex;
        height: 4rem;
        width: auto;
    }

    .nav-personal-box{
        display: flex;
        /**flex-direction: column;*/
        justify-content: center;
        margin: 1rem;
        height: 10rem;
    }

    .nav-account-box{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }


    .nav-shopping-cart-box{
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    .nav-bar-logo{
        height: 4rem;
    }

    .nav-bar-logo img{
        height: 3rem;
        filter: contrast(120%);
    }
}


