#hero-section {
    position: relative;
    border: 1px solid black;
    min-width: 100rem;
    height: 40vw;
    background-image: url("images/hero-image-cropped.jpg");
    background-size: 100%;
    min-height: 42rem;
    max-height: 60rem;
}

#hero-section h1 {
    position: absolute;
    color: #08223F;
    font-size: 4.8rem;
    font-weight: normal;
    margin: 10rem 4rem;
    top: 45%;
    left: 2%;
}

.color-overlay {
    background-color: #D18E35 ;
    opacity: 25%;
    height: 40vW;
    width: 100%;
    min-height: 42rem;
    max-height: 60rem;
}

#hero-section .cta-button {
    position: absolute;
    background-color: #D18E35;
    margin-left: 8rem;
    margin-top: 26%;
    font-size: 2.4rem;
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
}